* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 30px;
}
 
body {
  background: #090A0E;
  color: #FFF;
}

.container {
  position: relative;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  background: #0F1014;
  padding: 15px 15px 50px 15px;
}

button {
  background-color: #0F1014;
  color: #FFF;
  outline: none;
  border: 1px solid #FFF;
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #A0ACDF;
  color: #0F1014;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.movie-cover {
  width: 100%;
  transition: 0.2s;
}

.movie-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.movie-container:hover .movie-cover {
  border: 5px solid #A0ACDF;
}
  
.movie-title {
  padding-top: 5px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
}

.movie-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #0F1014;
  background: #c1c1c1c1;
  font-size: 20px;
  font-weight: bold;
}

.hero {
  position: relative;
  min-height: 500px;
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero .title {
  font-size: 72px;
}

.hero .overview {
  background: #00000066;
  padding: 10px;
  border-radius: 5px;
  /* opacity: 0.5; */
}

.hero .button {
  background-color: #0F1014;
  color: #FFF;
  outline: none;
  border: 1px solid #FFF;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.2s;
}

.hero .button:hover {
  background-color: #A0ACDF;
  color: #0F1014;
}

.youtube-container {
  /* 
  выставить абсолютное позиционирование
  расстояние слева позиционированного элемента 0
  расстояние справа позиционированного элемента 0
  расстояние сверху позиционированного элемента 0
  расстояние сниху позиционированного элемента 0
  */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.page-type-current {
  border: 3px solid red;
  border-color: red;
  color: #fff;
  background: #0F1014;
}


.btn-load-more {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.movie-vote {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #0F1014;
  padding: 2px 8px;
  border-radius: 5px;
}


.search-form {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field {
  height: 100%;
  width: 300px;
  font-size: 22px;
  outline: none;
}

.search-button {
  height: 100%;
}